:root {
    --bg: #d4d8dc;
    --font-h1: #31353E;
    --font-small: #4C4F57;
    --img-bg: #fff;
    --img-bg2: #f1f1f1;
    --img-border: #e8e8e8;
    --border: #f4a937;
}

body {
    background-color: var(--bg);
    border-bottom: 5px solid var(--border);
    border-right: 5px solid var(--border);
    width: 100vw;
    height: 100vh;
    font-family: 'Ubuntu';
}

.portifolio-image {
    width: 227px;
    height: 227px;
    background-color: var(--img-bg);
    border-radius: 100%;
    box-shadow: 0 6px 12px rgba(244, 169, 55, 0.38);
}

.portifolio-image-center{
    width: 217px;
    height: 217px;
    background-color: var(--img-bg2);
    margin: 5px 0 0 5px;
    border: 1px solid var(--img-border);
    border-radius: 100%;
}

.portifolio-name {
    font-weight: 900;
    font-size: 36px;
    color: var(--font-h1);
    text-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
}

.portifolio-role {
    font-weight: 500;
    font-size: 24px;
    color: var(--font-small);
}

.portifolio-contacts {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}